*{
    padding: 25px;
    margin: 10px;
    box-sizing: border-box;
}
.box {
    width: 80%;
    min-height: 100px;
    border: 1px solid black;
    margin: auto;
    background-color: lightblue;
    display: grid;
    grid-template-columns: repeat(3, 2fr); /*coloum and row */
    grid-template-rows: repeat(2, minmax(150, auto));
    gap: 10px;
}
.items {
    padding: 15px;
    color:rgb(251, 249, 249);
    font-size: 1.2em;
    font-style: italic;
    
}
.item1 {
    background-color: orange;
}
.item2{
    background-color: aqua;
}
.item3{
    background-color: aquamarine;
     /* align-self: center;
        justify-self: center; */
        /* place-self: center center; */
}
.item4{
    background-color: beige;
}
.item5{
    background-color: chartreuse;
}
.item6{
    background-color: blanchedalmond;
}