*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab" serif;
}
.container{
    width: 80%;
    min-height: 100px;
    border: 1px solid black;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 60px;
    background-color: black;
}
.header h1 {
    color: white;
    padding: 7px;
}
.container .menu {
    width: 100%;
    height: 60px;
    background-color: aliceblue;
    margin-top: 5px;
}
.menu ul{
    list-style-type: none;
    width: 100%;
}
.menu ul li{
    display: inline-block;
    padding-top: 15px;
}
.menu ul li a {
    color: rgb(27, 12, 12);
    text-decoration: none;
    padding: 9px
}
.menu ul li a:hover {
  background-color: orange;
  color: rgb(11, 11, 11);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}