 *{
        margin:auto;
        padding:auto;
        box-sizing:border-box;
        font-family:Arial, sans-serif;
        
    }

    body{
        width: 65%;
        background:#ae64f9;   /* Purple background */
        padding:auto;
        margin: auto;
        align-items: center;
    }
 .wrapper{
        width:90%;
        margin:auto;
        border:4px solid #fff;
        padding:20px;
        background:#6a4c88;
    }

    /* HEADER */
    .header{
        background:#8bc34a;
        padding:20px;
        text-align:center;
        margin-bottom:20px;
        border:3px solid #fff;
    }

    /* NAV */
    .nav{
        background:#c8e6c9;
        padding:15px;
        text-align:center;
        border:3px solid #fff;
        margin-bottom:30px;
    }

    /* MAIN SECTION AREA */
    .main{
        display:flex;
        gap:25px;
        margin-bottom:30px;
    }

    .section-left,
    .section-right{
        padding:20px;
        border:4px solid #fff;
        background:#d16f54;
        flex:1;
    }

    .section-left .title,
    .section-right .title{
        background:#8bc34a;
        padding:10px;
        text-align:center;
        margin-bottom:15px;
        border:3px solid #fff;
    }

    /* INNER LEFT BOXES */
    .container-box{
        background:#c8e6c9;
        padding:15px;
        border:4px solid #fff;
    }

    .box{
        background:#ffcc80;
        padding:12px;
        border:3px solid #fff;
        margin-bottom:10px;
        text-align:center;
    }

    .row{
        display:flex;
        gap:15px;
    }

    .column{
        flex:1;
    }

    .footer{
        background:#fff;
        padding:15px;
        text-align:center;
        border:3px solid #000;
        font-weight:bold;
    }