*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 60%;
    min-height: 100px;
    margin: auto;
    border: 1px solid #000;

}

.header{
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: rgb(117, 185, 212);
    height: 60px;
}

.header h3{
    display: flex;
    justify-content: center;
  align-items: center;
  width: 100%;

}

.slider {
  display: flex;
  flex-direction: row;
  width: 100%;
 height: 200px;
 margin-top: 5px;
}

.slider img{
   width: 100%;
 object-fit: cover;
}
.spacer {
  display: flex;
  flex-direction: row;
  width: 100%;
 height: 40px;
 background-color: palevioletred;
}

.spacer h3{
    display: flex;
    justify-content: center;
  align-items: center;
  width: 100%;

}

.article1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: rgb(156, 192, 207);
  min-height: 200px;
  width: 100%;
}
.article1 .article {
    margin-top: 8px;
    margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 28%;
  background-color: rgb(167, 109, 221);
  /* border: 1px solid #000; */
}

.main-article2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
background-color: lemonchiffon;
  min-height: 200px;
  width: 100%;
}

.main-article2 .article {
    margin-top: 8px;
    margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 20%;
  background-color: rgb(167, 109, 221);
  /* border: 1px solid #000; */
}

.main-article3{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
background-color: rgb(213, 126, 180);
  min-height: 200px;
  width: 100%;
}

.main-article3 .article{
     margin-top: 8px;
    margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
  background-color: rgb(167, 109, 221);
}

.main-article3 .article-inner{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
  background-color: rgb(126, 188, 230);
 
}
.article-inner .article{
    background-color: rgb(167, 109, 221);
   justify-content: space-around;
   width: 80%;  
}

.copyright {
  display: flex;
  flex-direction: row;
  width: 100%;
 height: 40px;
 background-color: lightgrey;
}

.copyright h3{
    display: flex;
    justify-content: center;
  align-items: center;
  width: 100%;

}